.linha-streamer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo-streamers {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 10px;
}

.link-social-media-streamer {
  margin-right: 10px;
}

.link-social-media-streamer:hover {
  color: rgb(247, 215, 66);
}
